<div class="dx-field" [formGroup]="_form">
  <app-field-label-ui [label]="formFieldConfig.label"></app-field-label-ui>
  <div class="dx-field-value">
    <dx-number-box [showClearButton]="true"
      [placeholder]="formFieldConfig.placeholder"
      [name]="formFieldConfig.name"
      [formControlName]="formFieldConfig.name"
      [required]="formFieldConfig.required"
      [mode]="formFieldConfig.mode"
      [isValid]="isValid(formFieldConfig.name)">
    </dx-number-box>
    <small class="text-red-700 text-sm" *ngIf="!isValid(formFieldConfig.name)">
      <span *ngFor="let err of Errors(formFieldConfig.name);">
        {{err}}
      </span>
    </small>
  </div>
</div> 
<!-- <div [formGroup]="_form">
    <p>{{formFieldConfig.label}}</p>
        <dx-number-box [formControlName]="formFieldConfig.name"
        (blur)="onInputBlurred()"
        [isValid]="isValid(formFieldConfig.name)" [showClearButton]="'true'"></dx-number-box>
    <p>numberbox valid: {{isValid(formFieldConfig.name)}}<p> 
</div> -->
