<!-- <div>
    <ng-container *ngFor="let field of formFields">
        <div [ngSwitch]="field.controlType">
            <div *ngSwitchCase="'numberbox'">
            <p>{{field.label}}</p>
            <dx-number-box [formControlName]="field.name" [isValid]="isValid(field.name)" [showClearButton]="'true'"></dx-number-box>
            </div>
            <div *ngSwitchCase="'textbox'">
            <p>{{field.label}}</p>
            <dx-text-box [formControlName]="field.name" [isValid]="isValid(field.name)" [showClearButton]="'true'"></dx-text-box>
            </div>
        </div>
    </ng-container>
</div> -->
