<div class="dx-field"  [formGroup]="_form">
  <app-field-label-ui [label]="formFieldConfig.label"></app-field-label-ui>
  <div class="dx-field-value">
    <dx-text-box [showClearButton]="true"
      [placeholder]="formFieldConfig.placeholder"
      [name]="formFieldConfig.name"
      [formControlName]="formFieldConfig.name"
      [required]="formFieldConfig.required"
      [isValid]="isValid(formFieldConfig.name)">
    </dx-text-box>
    <small class="text-red-700 text-sm" *ngIf="!isValid(formFieldConfig.name)">
      <span *ngFor="let err of Errors(formFieldConfig.name);">
        {{err}}
      </span>
    </small>
  </div>
</div>


<!-- <div [formGroup]="_form">
  <p>{{fieldConfig.label}}</p>
  <dx-text-box [formControlName]="fieldConfig.name" (blur)="onInputBlurred()"
  [isValid]="isValid(fieldConfig.name)" [showClearButton]="'true'"></dx-text-box>
  <p>textbox valid: {{isValid(fieldConfig.name)}}<p>
</div> -->
