/* Add application styles & imports to this file! */
::ng-deep .box {
  border: 2px solid red;
  padding: 5px;
  margin: 1em;
  position: relative;
}

::ng-deep .label {
  position: relative;
  top: -5px;
  left: -5px;
  padding: 2px;
  background-color: red;
  color: white;
}

::ng-deep .green > .label {
  background-color: green;
}

::ng-deep .green {
  border-color: green;
}
