
<h1>Angular reactive form</h1>
<div class="container" *ngIf="jsonRootFormSchema && rootForm; else loading">
    <form [formGroup]="rootForm">
      <p>form status: {{rootForm.status}}<p>
        <br />
        <p>form value: {{rootForm.value | json}}<p>
      <ng-container *ngFor="let sKey of FormSchemaKey">
        <hr/>
        <pre>form Control Name : {{ sKey }}</pre>
        <app-dynamic-form [formControlName]="sKey" [jsonFormSchema]="jsonRootFormSchema[sKey]"></app-dynamic-form>
      </ng-container>
    </form>
</div>

<ng-template #loading>
Form Loading
</ng-template>
