
<h1>Angular reactive form</h1>
<div class="container" *ngIf="form; else loading">
    <form [formGroup]="form">
      <ng-container *ngFor="let field of formFields">
        <div [ngSwitch]="field.controlType">
          <div *ngSwitchCase="'numberbox'">
            <p>{{field.label}}</p>
            <dx-number-box [formControlName]="field.name" [isValid]="isValid(field.name)" [showClearButton]="'true'"></dx-number-box>
          </div>
          <div *ngSwitchCase="'textbox'">
            <p>{{field.label}}</p>
            <dx-text-box [formControlName]="field.name" [isValid]="isValid(field.name)" [showClearButton]="'true'"></dx-text-box>
          </div>
        </div>

      </ng-container>
    </form>
    <p>form status: {{form.status}}<p>
    <p>numberbox valid: {{isValid('numberbox')}}<p>
    <p>textbox valid: {{isValid('textbox')}}<p>
</div>

<ng-template #loading>
Form Loading
</ng-template>